a {
    text-decoration: none;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:cursive;
}

body {
    background:#020a27f5;
    background-image:url(homepage.jpg);

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width : 100%;
    padding: 15px 7%;
    background-color:#0a0a0ae5 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;



}
.logo{
    position: relative;
    font-size: 20px;
    color: #ffffff;
    font-weight: 900;



}
.navbar a {
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;


}
.navbar a:hover{
    color: #e3d6d6d6;
}

.Persona{
    position: middle;
    width: 100%;
    justify-content: space-between;
    height:90vh;
    padding-left:90px;
    align-items: center;
    display:flex;
    font-size: 56px;
    color: #ffffff;
    font-weight: 500;
    background-color: #0000008f;
}